.car-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    background-color: aliceblue;
  }
  
  .car-card {
    width: 100%; /* Modifier la largeur des cartes selon vos besoins */
    max-width: 500px; /* Définir une largeur maximale pour limiter la taille des cartes */
    margin: 10px auto; /* Modifier les marges pour centrer les cartes horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .car-image {
    margin-bottom: 10px;
  }
  
  .car-description {
    background-color: bisque; /* Remplacez cette valeur par la couleur de fond souhaitée */
    /* Ajoutez d'autres styles nécessaires */
  }
  
  .cartitlepage {
    text-align: center;
    border: solid 1px #CCC;
    border-radius: 10px;
    width: 90%;
    color: #777;
    background: aliceblue;
    margin: 0 auto; /* Ajoutez cette ligne pour centrer horizontalement */
    display: flex; /* Ajoutez cette ligne pour centrer verticalement */
    align-items: center; /* Ajoutez cette ligne pour centrer verticalement */
    justify-content: center; /* Ajoutez cette ligne pour centrer horizontalement */
    margin-top: 10px;
  }
  
  .contact {
    font-size: 15px;
    color: #777;
    text-decoration: none;
    display: flex;
    position: absolute;
    right: 5px;
  }
  