/* Footer.css */

.footer-container {
    background-color: bisque;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
  
  .footer-section {
    flex-basis: 33%;
  }
  
  .footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .footer-section p svg {
    margin-right: 8px;
  }

  .footer-button {
    padding: 10px 20px;
    background-color: #f7f7f7;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer-button:hover {
    background-color: #ddd;
  }
  
  