.schedule-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.schedule-table {
  margin-right: 20px;
  width: 50%; /* Ajout d'une largeur de 50% pour occuper la moitié de la page horizontalement */
  box-sizing: border-box; /* Inclusion de la marge et du padding dans la largeur */
}

.schedule-table h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.schedule-table table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.schedule-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.schedule-table td {
  background-color: #fff;
}

.schedule-table .highlight {
  background-color: #ffcc80;
}

.schedule-table .closed {
  background-color: #ff8a80;
  color: #fff;
}

.schedule-table .highlight,
.schedule-table .closed {
  font-weight: bold;
}

.schedule-table .note {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #777;
}

.schedule-table .contact-info {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.schedule-table .contact-info div {
  margin-bottom: 10px;
}

.background-schedule {
  background-color: bisque;
}

.form-container {
  width: 50%; /* Ajout d'une largeur de 50% pour occuper la moitié de la page horizontalement */
  box-sizing: border-box; /* Inclusion de la marge et du padding dans la largeur */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
